html,
body,
body * {
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

input,
textarea,
select,
[contenteditable]:not([contenteditable="false"]),
[contenteditable]:not([contenteditable="false"]) *,
[role="textbox"],
[role="textbox"] * {
  user-select: text;
  -webkit-user-select: text;
}
